In [1]:
2+2

4

In [2]:
numbers_list = [1,2,3,4,5,6,7,8,9]

numbers_tuple = (1,2,3,4,5,6,7,8,9)

In [3]:
import numpy as np

In [4]:
np.array()

TypeError: array() missing required argument 'object' (pos 1)

In [5]:
np.array(numbers_list)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
my_np_arr = np.array([2,13,34,67,45])

In [7]:
type(my_np_arr)

numpy.ndarray

In [8]:
np.array([2,13,34,56,67])

array([ 2, 13, 34, 56, 67])

In [1]:
a=5
b=3

In [3]:
temp = a
a = b
b = temp

print("the value of x after swapping is:{}".format(a))
print("the value of y after swapping is:{}" .format(b))

the value of x after swapping is:5
the value of y after swapping is:3

In [4]:
a= 1
print(a,"is of type" ,type(a))

b=2.0
print(b,"is of type" ,type(b))

c=1+2j
print(c,"is a complex no?" ,isinstance(1+2j,complex))

1 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is a complex no? True

In [2]:
pip install fibonacci

Requirement already satisfied: fibonacci in c:\users\admin\anaconda3\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
#!pip install fibonacci

In [7]:
#!pip install fibonacci

In [8]:
import fibonacci as fs

for i in range(0,5):
    print(fs.fibo(i))

0
1
1
2
3

In [1]:
# Write a python program to find a no which is divisible by 7 and multiple of 5 between a range of 150 to 270

for number in range(150,270):
    if number %7==0 and number %5==0 :
        print(number)

175
210
245

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
        return sum_numbers
    list_1 = [1,2,3,4,5]

In [14]:
sum_list(list_1)

1

In [33]:
# python program to remove a duplicates from list
a = [10,20,30,40,50,10,20]

dup_items = set()
uniq_items = []
for x in a:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)

In [26]:
print(uniq_items)

[10, 20, 30, 40, 50]

In [29]:
# python program to get the  largest no from list:

def max_num_in_list(list):
    max = list[0]
    for a in list:
        if a > max :
            max = a
            return max

In [30]:
max([12,28,0,34])

34

In [5]:
# python prog to check if given key  exist in dictionary or not

d = {1: 10, 2: 20, 3:30, 4:40, 5:50, 6:60}
def is_key_present(x):
    if x in d:
        print('key is present in the dictionary')
    else:
            print('key is not present in the dictionary')
            
is_key_present(5)
is_key_present(9)

key is present in the dictionary
key is not present in the dictionary

In [6]:
d = {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}

In [8]:
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
d.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [12]:
d.values()

dict_values([10, 20, 30, 40, 50, 60])

In [17]:
i = 60
if i in d.values():
    print("i is present in the dictionary")
else:
    print("i is not present in the dictionary")

i is present in the dictionary

In [18]:
# python script to merge two python dictionaries 

d1 = {'a': 100, 'b': 200}
d2 = {'x': 200, 'y':300}

In [21]:
d = d1.copy()

In [23]:
d

{'a': 100, 'b': 200}

In [24]:
d.update(d2)

In [26]:
print(d)

{'a': 100, 'b': 200, 'x': 200, 'y': 300}

In [ ]:
import math

In [ ]:


def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [ ]:
factorial(3)

In [ ]:
n = int(input("Input a no to compute a factorial:"))
print(factorial(n))

In [ ]:
# write a python program to reverse a string

def string_reverse(str1):
    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[index-1]
        index = index-1
    return str1
print(string_reverse('INSAID'))

In [ ]:
print(string_reverse('INSAID'))

In [ ]:
import math
math.factorial(5)

In [ ]:
def test_range(n):
    if n in range(3,9):
        print(" %s is in the range" % n)
    else:
        print("the no is outside the range")
    test_range(5)

In [1]:
# write a for loop to print all the odd nos between 10 and 50

for i in range(11,50,2):
    print(i)

11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [1]:
x=9
if(x>10):
    print("x is greater then 10")
elif(x==10):
        print("x is equal to 10")
else:
         print("x is less then 10")

x is less then 10

In [2]:
def compare(a,b):
    if(a>b):
        greater=a
    else:
        greater=b
        
    return greater

In [6]:
compare(10,50)

50

In [8]:
compare(14,5)

14

In [15]:
list3=[1,'python',2,'is',3,'Awesome']

In [16]:
for i in list3:
    print(i)

1
python
2
is
3
Awesome

In [10]:
list3.remove(2)

In [12]:
list3

[1, 'python', 'is', 3, 'Awesome']

In [13]:
del list3[3]

In [17]:
list3

[1, 'python', 2, 'is', 3, 'Awesome']

In [18]:
# creating a list

marks=[1,2,3,4,5,6,7,8,9,10]

In [25]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
marks.append(11)

In [28]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [29]:
marks.extend([12,13])

In [30]:
marks

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [24]:
marks[0:6]

[1, 2, 3, 4, 5, 6]

In [22]:
marks[5]

6

In [31]:
dict2={'ramesh':[150,46],'suresh':[146,58],'sudesh':[160,50]}

In [34]:
dict2['Neeraj']=[176,75]

In [36]:
dict2

{'ramesh': [150, 46],
 'suresh': [146, 58],
 'sudesh': [160, 50],
 'Neeraj': [176, 75]}

In [37]:
# importing pandas library

import pandas as pd

In [ ]:
# reading the csv file

df=pd.read_csv